# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Fastlane/Ruby related
**/vendor/bundle/
**/vendor/ruby/
.bundle/
Gemfile.lock
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/**/*.png
**/fastlane/test_output

# Local development files
.env
.env.*
local.properties
key.properties
**/*.jks
**/*.keystore
pc-api.json

# Flutter/Dart
*.freezed.dart
*.g.dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Linux related
linux/flutter/ephemeral/
linux/flutter/generated_plugins.cmake

# Windows related
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake

# macOS related
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.h
macos/Flutter/GeneratedPluginRegistrant.m
